# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.svn/format
*.svn-base
.svn/wc.db
*.db-journal
.svn/entries
Runtime/Cache/Home/b39761fdd01eadcd4b8a82f371520558.php
*.log
Runtime/Cache/Home/index.html
Runtime/Cache/index.html
Runtime/Data/index.html
Runtime/Logs/Home/index.html
Common/Conf/config.php
Home/Conf/config.php
.idea/dataSources.local.xml
.idea/dataSources/66532908-4706-46ee-9032-758d708ce4f1.xml
.idea/dataSources.xml
.idea/deployment.xml
.idea/misc.xml
.idea/php.xml
.idea/runConfigurations/wamp.xml
.idea/tjc.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml.r1391
.idea/modules.xml
.idea/workspace.xml.mine
.idea/workspace.xml.r1393
Runtime/index.html
Runtime/Temp/index.html
Runtime/Logs/index.html
